<header class="d-flex flex-column">
    <div id="main" class="header d-flex justify-content-between">

        <div id="social" class=" d-flex justify-content-start mt-4 ms-3 gap-4">
            <a class="social-icon" href="http://www.facebook.com/starwars" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="social-icon" href="http://www.instagram.com/starwars" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="social-icon" href="http://www.youtube.com/starwars" target="_blank"><i class="bi bi-youtube"></i></a>
            <a class="social-icon" href="http://www.twitter.com/starwars" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>
<!--         
    <div class="d-flex header justify-content-between">
        <span id="header-offset"></span>
    </div>
-->
        <div id="logo" class="d-flex align-items-center justify-content-center">
<!--         
            <a class="logo d-flex align-items-center">
                    <img id="logo_hz" alt="Star Wars" src="../../../assets/img/sw_logo_horiz.webp">
            </a> 
-->
            <a class="logo d-flex align-items-center mt-4">
                <img id="logo_stacked" alt="Star Wars" src="../../../assets/img/sw_logo_stacked.webp">
            </a>
            
        </div>

        <div id="login" class="d-flex justify-content-end mt-4 me-3 gap-4">
            
                <span *ngIf="!isLogged">
                    <a class="link-style" [routerLink]="[ '/login' ]">Login</a>
                </span>
                <span *ngIf="isLogged">
                    <a class="link-style" (click)="logout()">Logout</a>
                </span>
                <span class="link-style" [routerLink]="[ '/register' ]" *ngIf="!isLogged">
                    <img id="user_icon" src="../../../assets/img/sw_Oneid_User.svg"> Sign Up
                </span>
            
        </div>

    </div>  

<app-menu></app-menu>

</header>
