<header>
    <div id="webNav" class="d-flex header justify-content-between">

    </div>  

    <div id="logo" class="d-flex align-items-center justify-content-center">
<!--         <a class="logo d-flex align-items-center">
            <img id="logo_hz" alt="Star Wars" src="../../../assets/img/sw_logo_horiz.webp">
        </a> -->
        <a class="logo d-flex align-items-center">
            <img id="logo_stacked" alt="Star Wars" src="../../../assets/img/sw_logo_stacked.webp">
        </a>
        
    </div>

</header>
