<div class="form-floating mx-3 mb-3">
    <form [formGroup]="loginForm" class="" (ngSubmit)="login()" autocomplete="off">
        <input id="email" class="form-control" type="email" formControlName="email" placeholder="e-mail">
        <label for="email">e-mail</label> <br>

        <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
        <label for="password">Password</label> <br>

        <div class="d-flex align-items-center justify-content-center">
            <button id="saveForm" type="submit" class="btn btn-primary mx-5 mb-3"> <!-- [disabled]="budgetDataForm.invalid" -->
              <i class="bi bi-save"></i> Login </button>
          </div>
    </form>
</div>

<!-- <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div> -->
