@import '../../../vars.scss';

form{
    width: 100%;
    max-width: 400px;
    h1{
        font-weight: 200;
        color:  #fade4b; // #ffc107;
        text-transform: uppercase;
    }

    .btn{
        width: 100%;

        &:disabled{
            border-color: $yellow;
            color: $yellow;
            background-color:transparent;
        }
        &:not(:disabled){
            border-color: $yellow;
            color: $yellow;
            background-color:transparent;
        }
        &:hover{
            color: $black;
            background-color:#d4be4d;
        }
        &:enabled{
            color: $black;
            background-color: $yellow;
        }

    }

    input{
        width: 100%;
        border-color: $lightGray;
        
        &:hover{
            border-color: $yellow;
        }
        &:focus {
            color: $yellow;
            border-color: $yellow;
            background-color: $buttonGray;
            outline: 0;
            box-shadow: 0 0 0 0.3rem rgba(255, 225, 0, 0.35);
        }
    }
}
    button{
        width: 100%;
    }
