<!-- STARSHIP -->
<div class="d-flex flex-column flex-lg-row gap-1" *ngIf="starship">  

    <div id="starship-info">
        <div class="img-starship" [ngStyle]="{ 'background-image': 'url(' + starshipImg + ')'}"></div>
        <div class="txt-info"> 
            <span class="mini-saber"></span>
            <h1>{{ starship.name }}</h1>
            <h4>{{ starship.model }}</h4> 
        </div>
    </div>


    <div id="starship-description" >
        <div class="txt-description d-flex flex-column gap-3">
            <h4>Starship details</h4>
            <div>
                <p class="d-flex justify-content-between gap-4"><b>Starship class:</b> <span class="text-end">{{starship.starship_class}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Cargo capacity:</b> <span class="text-end">{{starship.cargo_capacity}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Consumables:</b> <span class="text-end">{{starship.consumables}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Cost in credits:</b> <span class="text-end">{{starship.cost_in_credits}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Hyperdrive rating:</b> <span class="text-end">{{starship.hyperdrive_rating}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Length:</b> <span class="text-end">{{starship.length}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Manufacturer:</b> <span class="text-end">{{starship.manufacturer}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Max atmosphering speed:</b> <span class="text-end">{{starship.max_atmosphering_speed}}</span></p>
                <p class="d-flex justify-content-between gap-4"><b>Passengers:</b> <span class="text-end">{{starship.passengers}}</span></p>
            </div>
        </div>
    </div>
    


</div>

<!-- PILOTS -->
<h2 class="mt-5" *ngIf="pilots.length > 0">Pilots</h2> 
<div id="extra-info-pilots" class="d-flex w-100">
    <div class="d-flex flex-wrap justify-content-between mt-3 w-100" *ngIf="pilots.length > 0">
        <div class="pilot-info" *ngFor="let pilot of pilots">
            <img class="pilot-img" [src]="pilot.imgUrl" alt="{{ pilot.name }}">
            <span class="mini-saber mt-3 ms-3"></span>
            <p class="ms-3">{{pilot.name}}</p>
        </div>
    </div>
</div>  

<!-- FILMS -->
<h2 class="mt-5">Films</h2>
<div id="extra-info-films" class="d-flex w-100">
    <div class="d-flex flex-wrap justify-content-between mt-3 w-100">
        <div class="film-info" *ngFor="let film of films">
            <img class="film-img" [src]="film.filmUrl" alt="{{ film.title }}">
            <span class="mini-saber mt-3 ms-3"></span>
            <p class="ms-3">Episode {{film.episode_id}}: {{film.title}}</p>
        </div>
    </div>
</div>

