<div class="d-flex justify-content-center">
    <form [formGroup]="registerForm" class="" (ngSubmit)="saveRegisterForm()" class="d-flex flex-column gap-3" autocomplete="off">
        <h1 class="text-center">Sign Up</h1>
    
        <div class="form-floating mb-3">
            <input id="email" class="form-control" type="email" formControlName="email" placeholder="e-mail">
            <label for="email">e-mail</label>
            <span class="form-text text-warning" *ngIf="this.registerForm.controls['email'].errors && this.registerForm.controls['email'].touched" >
                <small>A valid email account we need</small></span>
        </div>
    
        <div class="form-floating mb-3">
            <input id="firstname" class="form-control" type="text" formControlName="firstname" placeholder="Name">
            <label for="name">Name</label>
            <span class="form-text text-warning" *ngIf="this.registerForm.controls['firstname'].errors && this.registerForm.controls['firstname'].touched" >
                <small>Required your name is, young padawan</small></span>
        </div>
    
        <div class="form-floating mb-3">
            <input id="surname" class="form-control" type="text" formControlName="surname" placeholder="Surname">
            <label for="surname">Surname</label>
            <span class="form-text text-warning" *ngIf="this.registerForm.controls['surname'].errors && this.registerForm.controls['surname'].touched" >
                <small>Required too this is</small></span>
        </div>
    
        <div class="form-floating mb-3">
            <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
            <label for="password">Password</label>
            <span class="form-text text-warning" *ngIf="this.registerForm.controls['password'].errors && this.registerForm.controls['password'].touched" >
                <small>A powerful password enter your must</small></span>
        </div>
    
        <div class="d-flex align-items-center justify-content-center">
            <button id="saveForm" type="submit" class="btn btn-outline-warning mx-5 mb-3" type="submit" [disabled]="!registerForm.valid"> Sign In </button>
        </div>
    
    </form>
</div>



