@import '../../vars.scss';

.main-container {
    
    span.starship-card {
        
        border-radius: 8px;
        padding: 20px 30px;
        background-color: $backgroundColor;
        position: relative;
        color: $defaultColor;
        text-decoration: none;
        text-decoration-color: none!important;

        &:hover {
            cursor: pointer;
            color: $defaultColor;
            background-color:$buttonGray;
            
            h4{
                color: $yellow;
            }

        }
    }

}