@import '../../vars.scss';



.starshipList {
    overflow: hidden;
    z-index: 0;

    
    a.starship-card {
        
        border-radius: 0px 8px 8px 0px;
        width: calc(100% - 10px);
        padding: 20px 30px;
        background-color: $backgroundColor;
        position: relative;
        color: $defaultColor;
        text-decoration: none;
        text-decoration-color: none;
        
        p{
            margin-bottom: 0;
        }
        
        &:hover {
            cursor: pointer;
            color: $defaultColor;
            background-color: $buttonGray;
            
            h4{
                color: $yellow;
            }

            &::after,
            &::before{
                border-right-color: $buttonGray;
            }
        }

        &::after, 
        &::before{
            content: ""; 
            display: block;
            position: absolute;
            height: 33%;
            width: 0px;
            top: 0;
            left: -6px;
            border-radius: 8px 0px 0px 8px;
            border-right: 6px solid $backgroundColor;
            border-left: none;
            border-bottom: 6px solid transparent;
        }
        &::before{
            bottom: 0;
            top: auto;
            border-left: none;
            border-top: 6px solid transparent;
            border-bottom: none;
        }
    }

}


/* LOADING */

#loading{
    display: flex;
    justify-content: center;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
