<ng-container *ngIf="starshipsList"> <!-- ; else loading -->
    <div class="d-flex flex-column starshipList gap-3" (scroll)="onScroll()">
        <div [id]="'starshipElement-' + index" class="d-flex flex-column align-items-end" *ngFor="let starship of starshipsList.results; let index = index" [routerLink]="['/starships', getStarshipId(starship.url)]">
            <a class="starship-card d-flex flex-column">
                <h4>{{ starship.name }}</h4>
                <p>{{ starship.model }}</p>
            </a>
        </div>
    </div>

 <app-loading *ngIf="page" #loading></app-loading>

<!--   <div id="loading"  [ngClass]="{'h-20rem': showClasses, 'flex': showClasses, 'justify-content-center': showClasses, 'align-items-end': showClasses}">
        <div class="lds-ellipsis justify-content-center">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
    
</ng-container>

