$backgroundColor: #1d1e1f;
$defaultColor: rgba(160, 160, 160, 1);
$defaultColorHover: rgba(255, 255, 255, 1);

$black: rgb(17, 17, 17);
$white: rgb(237, 237, 237, 1);
$darkGray: #282727;
$gray: #333;
$buttonGray: #484848;
$lightGray: #B5B7B7;
$yellow: #fade4b;

