<footer class="d-flex flex-column">
    <div class="text-center">
        More From Star Wars:
        <div class="d-flex justify-content-center mt-3 mb-4 gap-4">
            <a class="social-icon" href="http://www.facebook.com/starwars" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="social-icon" href="http://www.instagram.com/starwars" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="social-icon" href="http://www.youtube.com/starwars" target="_blank"><i class="bi bi-youtube"></i></a>
            <a class="social-icon" href="http://www.twitter.com/starwars" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>
        <span class="mt-5">TM & © Lucasfilm Ltd. All Rights Reserved</span>
    </div>
</footer>
