<div id="menu">
    <ul class="d-flex flex-md-row justify-content-center aling-items-center gap-4">
        <li class="link-style">
            <a [routerLink]="[ '/' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>   
        </li>
        <li *ngIf="!isLogged" class="link-style">
            <a  [routerLink]="[ '/login' ]" routerLinkActive="active">
                Starships
            </a>   
        </li>
        <li *ngIf="isLogged" class="link-style">
            <a  [routerLink]="[ '/starships' ]" routerLinkActive="active">
                Starships
            </a>   
        </li>
    </ul>
</div>