/* Fonts */
@import '/src/assets/fonts/dinNext/dinNextStyle.css';
@import '/src/assets/fonts/matterhorn/matterhornStyle.css';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import '../src/app/vars.scss';



body {
    font-family:'DIN Next LT Pro', 'Matterhorn Regular', Helvetica, sans-serif;
    font-weight: normal;
    color: $defaultColor;
    background-color: $black;
}

* {
    box-sizing: border-box;

    -webkit-appearance: none;
    appearance: none;
    outline: none;

    &:not(.no-animated):not(.slick-track):not(.slick-slide){
        -moz-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;
        &::after,
        &::before{
            -moz-transition: all .15s ease-out;
            -webkit-transition: all .15s ease-out;
            -ms-transition: all .15s ease-out;
            -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
        }
    }
    
}
#content {

min-height: calc(100vh - 188px);
}

::-moz-selection { 
    color: $black;
    background: $yellow;
}

::selection {
    color: $black;
    background: $yellow;
}

.text-warning {
    --bs-text-opacity: 1;
    color: rgba($yellow, var(--bs-text-opacity)) !important;
}

.link-style {
    text-transform: uppercase;
    color: $defaultColor;
    text-decoration: none; 
    cursor: pointer;

        &:hover{
            color:$white;

            img {
                border-color: rgb(0, 255, 255);
                filter: drop-shadow(0px 0px 2px rgb(0, 255, 255));
            }
                
        }
}